/* client/fonts.css */
@import url('https://fonts.googleapis.com/css2?family=Asimovian&family=Audiowide&family=Bahianita&family=Baumans&family=Buda:wght@300&family=Federo&family=Glass+Antiqua&family=Play:wght@400;700&family=Poiret+One&family=Righteous&family=Tulpen+One&display=swap');
.righteous-regular {
  font-family: "Righteous", sans-serif;
  font-weight: 400;
  font-style: normal;
}
.asimovian-regular {
  font-family: "Asimovian", sans-serif;
  font-weight: 400;
  font-style: normal;
}
/* .poiret-one-regular {
  font-family: "Poiret One", sans-serif;
  font-weight: 400;
  font-style: normal;
} */

.play-regular {
  font-family: "Play", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.play-bold {
  font-family: "Play", sans-serif;
  font-weight: 700;
  font-style: normal;
}

.bahianita-regular {
  font-family: "Bahianita", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.buda-light {
  font-family: "Buda", serif;
  font-weight: 300;
  font-style: normal;
}
